spring:
  application:
    name: api-service
  datasource:
    url: jdbc:mysql://localhost:3306/ai_task?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: false
  data:
    redis:
      database: 2
      host: localhost
      port: 6379

server:
  port: 7001


springdoc:
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
